#hompage #freethum_slide .free_content {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%; 
}

#hompage #freethum_slide {
    width: 1000px;
    height: auto;
    margin: 20px auto;
    padding: 0;
    overflow: visible;
    position: relative;
}

#hompage #freethum_slide > h1 {
    color: #fff;
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

#hompage .free_slider {
    width: 100%; 
    height: 400px;
    overflow: hidden;
}

#hompage .free_content {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    padding: 0;
    width: 100%; 
    height: 350px;
}

#hompage .free_thum {
    position: relative;
    width: 100%; 
    height: 340px;
    border-radius: 5px;
    overflow: hidden;
    transition: filter 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hompage .free-image-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
}

#hompage .fimgs {
    height: 340px;
    flex-shrink: 0;
    margin-right: 10px !important;
}

#hompage .free-game_info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 300px;
    justify-content: center;
    padding-left: 10px;
}

#hompage .free-game_info > h3 {
    font-size: 2em;
}

#hompage .free-game_info > h3,
#hompage .free-game_info > p {
    color: #fff;
    text-align: left;
}

#hompage .custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px; 
    height: 50px; 
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hompage .custom-arrow img {
    width: 100%;
    height: 100%;
}

#hompage .slick-next.custom-arrow {
    right: -50px;
}

#hompage .slick-prev.custom-arrow {
    left: -50px;
}
#hompage .free-slick-dots.custom-dots {
    position: relative;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 5px;
}

#hompage .free-slick-dots.custom-dots li {
    margin: 0;
    padding: 0 2px;
}

#hompage .free-slick-dots.custom-dots li button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    color: #202531;
}

#hompage .free-slick-dots.custom-dots li button::before {
    content: '';
    width: 25px;
    height: 12px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    transition: background-color 0.3s ease;
}

#hompage .free-slick-dots.custom-dots li.slick-active button::before {
    background-color: #fff;
}

#hompage .free-slick-dots.custom-dots li button:hover::before {
    background-color: #fff;
}

#hompage #free_wrap {
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 10px;
    color: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
}

#hompage .free-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

#hompage .free-sub-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0 15px;
}

#hompage .sub-item {
    padding-left: 255px;
}

#hompage .sub-price {
    margin-left: 610px;
}

#hompage .free-sub-header-item {
    text-align: center;
}

#hompage .free-sub-header-item:nth-child(2) {
    flex: 0 0 185px;
}

#hompage .free-sub-header-item:nth-child(3) {
    flex: 1;
    text-align: left;
    padding-left: 10px;
}

#hompage .free-sub-header-item:nth-child(4) {
    flex: 0 0 100px;
}

#hompage .free-sub-header-item:nth-child(5) {
    flex: 0 0 100px;
}

#hompage .items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#hompage .item {
    display: flex;
    align-items: center;
    background-color: #2a2a2a;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

#hompage .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

#hompage .rank {
    font-size: 20px;
    font-weight: bold;
    flex: 0 0 50px;
    text-align: center;
    background-color: #3a3a3a;
    padding: 5px 0;
    border-radius: 5px;
}

#hompage .thumbnail {
    flex: 0 0 185px;
    text-align: center;
}

#hompage .thumbnail img {
    padding-left: 10px;
    width: 185px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
}

#hompage .title {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 10px;
}

#hompage .price {
    flex: 0 0 100px;
    font-size: 18px;
    color: #ffd700;
    text-align: center;
}

#hompage .discount {
    flex: 0 0 100px;
    font-size: 18px;
    color: #ff4500;
    text-align: center;
}

#hompage .wish-button {
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    margin: 2px;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 7px;
}

#hompage .free-play {
    color: #fff;
    background-color: #85a805;
    margin: 2px;
    margin-left: 0;
    padding: 5px 10px;
    border-radius: 7px;
}

#hompage .wish-button:hover,
#hompage .free-play:hover {
    cursor: pointer;
}


#hompage .slick-list {
    overflow: hidden;
    height: 100%;
}

#hompage .slick-track {
    display: flex;
    width: 900px;
    justify-content: center;
}
.free_slider .slick-dots li.slick-active button {
    background: rgba(255, 255, 255, 1) !important;
  }
  
.free_slider .slick-dots li {
    margin: 8px;
    padding: 0;
  }
