div > ul > li,
div > div.category > ul > li {
    display: inline-block;
    padding: 10px;
}

div > div.btnbox,
div > div.category> div.btnbox {
    display: inline-block;
    margin: 12px 2px;
    width: 20px;
    height: 12px;
    border-radius: 2px;
    transition: background-color 0.2s;
    background-color: hsla(202, 60%, 100%, 0.2);
    cursor: pointer;
}



div > button.morebtn_left,
div > button.morebtn_right {
    border: 1px solid #dcdedf;
    color: #dcdedf;
    background-color: #202531;
}

div > button.morebtn_left {
    position: relative;
    left: -19px;
    top: -40px;
}


div > button.morebtn_right {
    position: relative;
    left: 547px;
    top: -40px;
}

div > button.morebtn_left:hover,
div > button.morebtn_right:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: #202531;
    cursor: pointer;
}

/*페이지 상단의 메인게임 CSS START*/

/*페이지 상단의 메인게임 CSS END*/


/*페이지 중단 작은 썸네일 테이블 CSS START*/

div.game_table {
    margin: 30px 100px;
    /* background-color: rgba(255, 255, 255, 0.1); */
}

div.game_table > table  {
    display: inline-block;
    margin: 0 20px;
    border-collapse: collapse;
}

td { 
    position: relative;
    padding: 0;
    overflow: hidden;

}

div.game_table > table > tr.thead {
    text-align: left;
    color: #ffffff;
    
}

div.game_table > table > tr.thead > p {
    padding-bottom: 10px;
}

div.game_table > table > tbody.tablebgimg{
    border: none 1px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
}
.table1imgs {
    display: block; /* block 요소로 설정하여 이미지가 셀을 채우도록 함 */
    transition: filter 0.3s ease;
}


div.game_table > table > tbody.tablebgimg > tr > td > .img_container img {
    width: 250px;
    height: 141px;
    object-fit: contain;
    padding: 10px;
    margin-right: 10px;

}
.table1imgs {
    transition: filter 0.3s ease;
}
.img_container .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 7px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img_container:hover .table1imgs {
    filter: blur(5px);
}

.img_container:hover .overlay {
    opacity: 1;
}

/*페이지 중단 작은 썸네일 테이블 CSS END*/


/* 페이지 하단 게임 카테고리 CSS START*/
div > div.categorybox > h2 {
    color: #ffffff;
    margin-bottom: 30px;
}


div > div.category > ul.categoryimg > li.cimgs {
    padding: 0 auto;
}

div > div.categorybox > a.rpgimg > div.imgcarousel,
div > div.categorybox > a.smulimg > div.imgcarousel,
div > div.categorybox > a.sptimg > div.imgcarousel {
  position: relative;
  display: inline-block;  
}

div > div.categorybox > a.rpgimg > div.imgcarousel >img.imgcsl,
div > div.categorybox > a.smulimg > div.imgcarousel >img.imgcsl,
div > div.categorybox > a.sptimg > div.imgcarousel >img.imgcsl {
    width: 274px;
    padding: 20px;
}

div > div.categorybox > a.rpgimg > div.imgcarousel > div.gradient {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: linear-gradient( rgba(0,0,0,0),rgb(139,0,0) 100%);
}

div > div.categorybox > a.rpgimg > div.imgcarousel > span,
div > div.categorybox > a.smulimg > div.imgcarousel > span,
div > div.categorybox > a.sptimg > div.imgcarousel > span {
    position: absolute;
    bottom: 30%;
    left: 42%;
    font-size: 1.5em;
    color: #ffffff;
}
/* 페이지 하단 게임 카테고리 CSS END*/
/* 메인 썸네일 슬라이드 CSS START*/
#mainthum_slide {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    overflow: hidden;
}

.main_slider .slick-slide {
    display: inline-block;
    text-align: center;
}

.main_content {
    display: flex;
    justify-content: center;
}

.main_thum {
    position: relative;
    width: 374px;
    height: 448px;
    margin: 0 10px;
    border-radius: 5px;
    overflow: hidden;
    transition: filter 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mimgs {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
    text-align: center;
    box-sizing: border-box; /* 박스 크기 설정 */
}

.main_thum:hover .mimgs {
    filter: blur(5px);
}

.main_thum:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    margin-bottom: 10px; /* h3 태그 아래에 간격 추가 */
}
/* 메인 썸네일 슬라이드 CSS END*/
