#wrap > div.menubar {
    width: 100%;
}

#wrap > div.menubar > ul {
    width: 100%;
    background-color: #000;
    /* position: fixed; */

}

#wrap > div.menubar > ul > li.logo img {
    width: 150px;
    height: 75px;
}

#wrap > div.menubar > ul > li
 {
    display: inline-block;
    font-size: 1.2em;
    padding: 20px; 
    vertical-align:middle;
}

a { 
    text-decoration: none;
    color: #dcdedf;
    cursor: pointer;
}

#wrap > div.menubar > ul > li a:hover {
    color: #ffffff;
}

#wrap > div.menubar > ul > li select {
    position: absolute;
    top: 45px;
    width: 150px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 7px 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

