#popular_wrap {
  padding: 20px;
  background-color: #1c1c1c;
  border-radius: 10px;
  color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
}

.popular-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 0 15px;
}

.sub-item {
  padding-left: 150px;
}
.sub-price {
  margin-left: 610px;
}
.sub-header-item {
  text-align: center;
}

.sub-header-item:nth-child(1) {
  flex: 0 0 50px; /* 순위 열의 고정 너비 */
}

.sub-header-item:nth-child(2) {
  flex: 0 0 185px; /* 이미지 열의 고정 너비 */
}

.sub-header-item:nth-child(3) {
  flex: 1; /* 타이틀 열의 가변 너비 */
  text-align: left;
  padding-left: 10px; /* 타이틀 패딩 추가 */
}

.sub-header-item:nth-child(4) {
  flex: 0 0 100px; /* 가격 열의 고정 너비 */
}

.sub-header-item:nth-child(5) {
  flex: 0 0 100px; /* 할인 정보 열의 고정 너비 */
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  background-color: #2a2a2a;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.rank {
  font-size: 20px;
  font-weight: bold;
  flex: 0 0 50px; /* 순위 열의 고정 너비 */
  text-align: center;
  background-color: #3a3a3a;
  padding: 5px 0;
  border-radius: 5px;
}

.thumbnail {
  flex: 0 0 185px; /* 이미지 열의 고정 너비 */
  text-align: center;
}

.thumbnail img {
  padding-left: 10px;
  width: 185px;
  height: 70px; /* 16:9 비율 */
  object-fit: cover;
  border-radius: 5px;
}

.title {
  flex: 1; /* 타이틀 열의 가변 너비 */
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left; /* 타이틀 왼쪽 정렬 */
  padding-left: 10px; /* 타이틀 패딩 추가 */
}

.price {
  flex: 0 0 100px; /* 가격 열의 고정 너비 */
  font-size: 18px;
  color: #ffd700;
  text-align: center;
}

.discount {
  flex: 0 0 100px; /* 할인 정보 열의 고정 너비 */
  font-size: 18px;
  color: #ff4500;
  text-align: center;
}
