/* SIGN UP START*/
#signup_wrap {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    margin: 30px auto;
    width: 500px;
    text-align: center;
    box-sizing: border-box;
}
.signup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.signup input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    cursor: text;
}
.signup input:focus {
    border-color: #999;
    outline: none;
}
.signup .basic_btn {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 12px;
    border-radius: 6px;
}
.signup .basic_btn:hover {
    background-color: #555;
    transform: translateY(-2px);
}
.signup p {
    margin: 5px 0;
    padding-left: 5px;
    font-size: 13px;
    text-align: left;
}
.signup p[style*="color: #ff0000"] {
    color: #ff0000;
}
.basic_input {
    margin-bottom: 5px;
}
.basic_btn {
    margin-top: 10px;
    padding: 10px;
}
a {
    text-decoration: none;
}
a .basic_btn {
    background-color: #777;
}
a .basic_btn:hover {
    background-color: #999;
}
.check {
    min-width: 40px;
    max-width: 40px;

}
/* SIGN UP END */

/* SIGN IN START*/
#signin_wrap{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    margin: 30px auto;
    width: 500px;
    text-align: center;
    box-sizing: border-box;
}
.signin {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.signin input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px; 
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    cursor: text;
}
.signin input:focus {
    border-color: #999;
    outline: none;
}
.signin .basic_btn {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 12px;
    border-radius: 6px;
}
.signin .basic_btn:hover {
    background-color: #555;
    transform: translateY(-2px);
}
.siginin .basic_input {
    margin-bottom: 5px;
}
.siginin .basic_btn {
    margin-top: 10px;
    padding: 10px;
}
/* SIGN IN END*/